<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @staff.full_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
