<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @client.business_name %>
</p>
<ul>
  <% @client.staffs.each do |client| %>
    <li><%= client.full_name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
